@{
    Layout = null;
}
@model IHFF_Websystem.Models.Popup

@{
    ViewBag.Title = "Popup";
}
<img src="#" />
<h2 id="title">@Model.evenement.evenementNaam</h2>
<p id="locatie">@Model.locatieNaam</p>
<p id="datum">@Model.datum</p>
<p id="tijd">@Model.tijd</p>
<p id="description">@Model.evenement.beschrijving</p>
<p id="prijslable">Prijs per ticket:</p>
<p id="prijs">&euro; @String.Format("{0: 0.00}", Model.evenement.prijs)</p>
<button class="close-btn" onclick="AddEventToWishlist(@Model.evenement.evenementID)">Voeg toe aan Wish List</button>