@using IHFF_Websystem.Models
@model Popup
@using IHFF_Websystem.Controllers



<h2><span style="color: #ffffff">Programma:  </span>Woensdag</h2>
@Html.ActionLink("Test","Popup", "Programma", new { id = 1 }, null)
@Html.ActionLink("Popup", "Programma", new { id = 1, url = Request.Url.ToString() }, null)
<div id="program">
    <button id="eID1" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/1', '#Popop1Content');">Ervenis van Chrispijn</button>
    <button id="eID2" class="show-popup" data-showpopup="1" onclick="@((ProgrammaController)this.ViewContext.Controller).Popup(2);">Haarlem Film Set</button>
    <button id="eID3" class="show-popup" data-showpopup="1" onclick="@((ProgrammaController)this.ViewContext.Controller).Popup(3);">Wall-E</button>
    <button id="eID4" class="show-popup" data-showpopup="1" onclick="@((ProgrammaController)this.ViewContext.Controller).Popup(4);">Moon</button>
    <button id="eID5" class="show-popup" data-showpopup="1" onclick="@((ProgrammaController)this.ViewContext.Controller).Popup(5);">Brazil</button>
    <button id="eID6" class="show-popup" data-showpopup="1" onclick="@((ProgrammaController)this.ViewContext.Controller).Popup(6);">Minority Report</button>
    <button id="eID7" class="show-popup" data-showpopup="1" onclick="@((ProgrammaController)this.ViewContext.Controller).Popup(7);">eXistenZ</button>
    <button id="eID8" class="show-popup" data-showpopup="1" onclick="@((ProgrammaController)this.ViewContext.Controller).Popup(8);">Interstellar</button>
    <button id="eID9" class="show-popup" data-showpopup="1" onclick="@((ProgrammaController)this.ViewContext.Controller).Popup(9);">2001: A Space Oddysey</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>

<!--Popup HTML-->
<div class="overlay-bg"></div>
<div class="overlay-content popup1" id="Popop1Content">
    <img src="#" />
    <h1 id="title">@Model.evenement.evenementNaam</h1>
    <p id="locatie">@Model.evenement.locatieID.ToString()</p>
    <p id="datum">Datum..</p>
    <p id="tijd">@Model.evenement.startTijd.ToString()</p>
    <p id="description">@Model.evenement.beschrijving</p>
    <p id="prijslable">Prijs per ticket:</p>
    <p id="prijs">&euro; @Model.evenement.prijs.ToString()</p>
    <button class="close-btn">Voeg toe aan Wish List</button>
</div>