@model IHFF_Websystem.Models.Medewerker

@{
    ViewBag.Title = "AddMedewerker";
}
<div id="placement">
<h2>Registreer</h2>

<link rel="stylesheet" type="text/css" href="~/Content/loginPage.css">

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.gebruikersNaam, "Gebruikersnaam:", new { @class = "labels" })
    @Html.TextBoxFor(m => m.gebruikersNaam, new { @class = "box" })
    @Html.ValidationMessageFor(m => m.gebruikersNaam)
    <br /><br />
    
    @Html.LabelFor(m => m.passWord, "Wachtwoord:", new { @class = "labels" })
    @Html.TextBoxFor(m => m.passWord, new { @class = "box" })
    @Html.ValidationMessageFor(m => m.passWord)
    <br /><br />
    
    @Html.LabelFor(m => m.relevantie, "Relevantie:", new { @class = "labels" })
    @Html.TextBoxFor(m => m.relevantie, new { @class = "box" })
    @Html.ValidationMessageFor(m => m.relevantie)
    <br /><br />
    
    @Html.LabelFor(m => m.locatieID, "Locatienummer:", new { @class = "labels" })
    @Html.TextBoxFor(m => m.locatieID, new { @class = "box" })
    @Html.ValidationMessageFor(m => m.locatieID)
    <br />
    <br />
     
    <input type="submit" value="Registreer" id="submitbutton"/>
    
}
</div>
