@model IHFF_Websystem.Models.Medewerker

@using IHFF_Websystem.Models;

@{
    ViewBag.Title = "AddMedewerker";
}
<div id="placement">
<h2>Registreer</h2>

<link rel="stylesheet" type="text/css" href="~/Content/loginPage.css">

@ViewBag.Error
    <br />
    <br />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.gebruikersNaam, "Gebruikersnaam:", new { @class = "labels" })
    @Html.TextBoxFor(m => m.gebruikersNaam, new { @class = "box" })

    <br /><br />
    
    @Html.LabelFor(m => m.passWord, "Wachtwoord:", new { @class = "labels" })
    @Html.PasswordFor(m => m.passWord, new { @class = "box" })

    <br /><br />
    
    @Html.LabelFor(m => m.locatieID, "Locatie", new { @class = "labels" })
    @Html.DropDownListFor(m => m.locatieID, new SelectList(ViewBag.Locaties, "locatieID", "locatieNaam"), new { @class = "box" })

    
    <br />
    <br />
     
    <input type="submit" value="Registreer" id="submitbutton"/>
    
    <br />
    <br />
}
</div>
