@model IHFF_Websystem.Models.Wishlist

@{
    ViewBag.Title = "EditWishlist";
}

<link rel="stylesheet" type="text/css" href="~/Content/loginPage.css">
<div id="placement">

<h2>EditWishlist ID: @Model.wishlistID</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(w => w.wishlistID)
    @Html.HiddenFor(w => w.wishlistID)

    @Html.LabelFor(w => w.codeWoord, "Codewoord:", new { @class = "labels" })
    @Html.TextBoxFor(w => w.codeWoord, new { @class = "box" })
    @Html.ValidationMessageFor(w => w.codeWoord)
    <br /><br />
    
    @Html.HiddenFor(w => w.isBetaald)
    @Html.HiddenFor(w => w.isBetaald)
    
    @Html.HiddenFor(w => w.isOpgehaald)
    @Html.HiddenFor(w => w.isOpgehaald)

    @Html.LabelFor(w => w.eMail, "Email adres:", new { @class = "labels" })
    @Html.TextBoxFor(w => w.eMail, new { @class = "box" })
    @Html.ValidationMessageFor(w => w.eMail)
    <br /><br />
    
    @Html.LabelFor(w => w.totaalPrijs, "Totaalprijs:", new { @class = "labels" })
    @Html.TextBoxFor(w => w.totaalPrijs, new { @class = "box" })
    @Html.ValidationMessageFor(w => w.totaalPrijs)
    <br /><br />

    <input type="submit" value="Wijzig wishlist" id="submitbutton"/>
}

    </div>

