@using IHFF_Websystem.Models;

@{
    ViewBag.Title = "GetAgenda";
}
@ViewBag.Error
<h2>Agenda</h2>
<br />
<h3> Specials </h3>
<br />
<link href="@Url.Content("~/Content/showData.css?reload")" rel="stylesheet" type="text/css" />

<table>
    <tr>
        <th>
            Evenement ID
        </th>
        <th>
            Evenement naam
        </th>
        <th>
            Start tijd
        </th>
        <th>
            Beschrijving
        </th>
        <th>
            Prijs
        </th>
        <th>
            Locatie ID
        </th>
        <th>
            Onderwerp
        </th>
        <th>
            Spreker
        </th>
    </tr>
    @foreach (var entry in Model)
    {
        <tr>
            <td>
                @entry.evenementID
            </td>
            <td>
                @entry.evenementNaam
            </td>
            <td>
                @entry.startTijd
            </td>
            <td>
                @entry.beschrijving
            </td>
            <td>
                @entry.prijs
            </td>
            <td>
                @entry.locatieID
            </td>
            <td>
                @entry.onderwerp
            </td>
            <td>
                @entry.spreker
            </td>
        </tr>
    }
</table>
<br />
<h3>Films</h3>
<br />
<table>
    <tr>
        <th>
            Evenement ID
        </th>
        <th>
            Evenement naam
        </th>
        <th>
            Start tijd
        </th>
        <th>
            Beschrijving
        </th>
        <th>
            Prijs
        </th>
        <th>
            Locatie ID
        </th>
        <th>
            Regisseur
        </th>
        <th>
            -
        </th>
    </tr>
    @foreach (var entry in ViewBag.Films)
    {
        <tr>
            <td>
                @entry.evenementID
            </td>
            <td>
                @entry.evenementNaam
            </td>
            <td>
                @entry.startTijd
            </td>
            <td>
                @entry.beschrijving
            </td>
            <td>
                @entry.prijs
            </td>
            <td>
                @entry.locatieID
            </td>
            <td>
                @entry.regisseur
            </td>
            <td>
                -
            </td>
        </tr>
    }
</table>