@using IHFF_Websystem.Models

@{
    ViewBag.Title = "ShowData";
}

    <link href="@Url.Content("~/Content/showData.css?reload")" rel="stylesheet" type="text/css" />

@ViewBag.Error

<h2>Alle wishlists</h2>
<table>
    <tr>
        <th>
        </th>
        <th>
            ID
        </th>
        <th>
            Code woord
        </th>
        <th>
            Betaald
        </th>
        <th>
            Opgehaald
        </th>
        <th>
            Email Adres
        </th>
        <th>
            Totaalprijs order
        </th>
    </tr>
@foreach (var entry in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Edit", "EditWishlist", new { wishlistID = entry.wishlistID }, new { @class = "link1" }) |
            @Html.ActionLink("Delete", "DeleteWishlist", new { wishlistID = entry.wishlistID }, new { @class = "link1" })
        </td>
        <td>@entry.wishlistID</td>
        <td>@entry.codeWoord</td>
        <td>@entry.isBetaald</td>
        <td>@entry.isOpgehaald</td>
        <td>@entry.eMail</td>
        <td>@entry.totaalPrijs</td>
    </tr>
}


</table>

