<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - International Haarlem Film Festival</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!--<script type="text/javascript" src="@Url.Content("Scripts/jquery-1.8.2.js")"></script>-->
    <!--<script type="text/javascript" src="@Url.Content("Scripts/slideshow.js")"></script>-->
    <script>
        $(document).ready(function () {
            $("#banner > div:gt(0)").hide();

            setInterval(function () {
                $('#banner > div:first')
                  .fadeOut(1000)
                  .next()
                  .fadeIn(1000)
                  .end()
                  .appendTo('#banner');
            }, 3000);
            /* oke js werkt nu weg met deze stomme melding
            alert();
            */
        });
    </script>
    @RenderSection("JavaScript", required: false)
    
</head>

<body>
    <header></header>
    <nav>
        <ul id="navigatie">
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Home", "Index", "Home")
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Programma", "Index", "Programma")
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Locaties", "Locaties", "Home")
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Dineren", "Dineren", "Home")
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Over ons", "Overons", "Home")
                    </p>
                </a>
            </li>
    </nav>
    <section id="banner">
        <div>
            <img src="../../Images/haarlem4.png" />
        </div>
        <div>
            <img src="../../Images/haarlem1.jpg" />
        </div>
        <div>
            <img src="../../Images/haarlem2.jpg" />
        </div>
        <div>
            <img src="../../Images/haarlem3.jpg" />
        </div>
    </section>
    <section id="nav2">
        <ul id="navigatie2">
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Woensdag", "Woensdag", "Programma")
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Donderdag", "Donderdag", "Programma")
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Vrijdag", "Vrijdag", "Programma")
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Zaterdag", "Zaterdag", "Programma")
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Zondag", "Zondag", "Programma")
                    </p>
                </a>
            </li>
    </section>
    <section id="main">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </section>
    <footer></footer>
</body>
</html>

