<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - International Haarlem Film Festival</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!--<script type="text/javascript" src="@Url.Content("Scripts/jquery-1.8.2.js")"></script>-->
    <!--<script type="text/javascript" src="@Url.Content("Scripts/slideshow.js")"></script>-->
    <script>
        $(document).ready(function () {
            $("#banner > div:gt(0)").hide();

            setInterval(function () {
                $('#banner > div:first')
                  .fadeOut(1000)
                  .next()
                  .fadeIn(1000)
                  .end()
                  .appendTo('#banner');
            }, 3000);
            /* oke js werkt nu weg met deze stomme melding
            alert();
            */

            /* Hide wishlist basket */
            $('#wishlistbasket').hide();


            wishlistbasket_toggel = false;
            $('#whishlistlink').click(function () {
                if (wishlistbasket_toggel == true) {
                    $('#wishlistbasket').show();
                } else {
                    $('#wishlistbasket').hide();
                }
                wishlistbasket_toggel = !wishlistbasket_toggel
            });
        });
    </script>
    @RenderSection("JavaScript", required: false)
    
</head>

<body>
    <header style="margin-top:0; padding-top:1px;"><div style="display:block; text-align:right; margin-right:100px; font-size:20px; font-family:Arial; color:white; font-weight:bold; margin-bottom:0; padding:0 0 0 0; margin-top: 10px; margin-left: auto;" id="whishlistlink">Wishlist</div></header>
    <div id="wishlistbasket">
        <p style="background-color:#fff; width:250px; height:500px; float:right; z-index:3;">Hello from the other side</p>
    </div>
    <nav>
        <ul id="navigatie">
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Programma", "Woensdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Locaties", "Locaties", "Home", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Dineren", "Dineren", "Home", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Over ons", "Overons", "Home", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <section id="banner">
        <div>
            <img src="../../Images/haarlem4.png" />
        </div>
        <div>
            <img src="../../Images/haarlem1.jpg" />
        </div>
        <div>
            <img src="../../Images/haarlem2.jpg" />
        </div>
        <div>
            <img src="../../Images/haarlem3.jpg" />
        </div>
    </section>
    <section id="nav2">
        <ul id="navigatie2">
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Woensdag", "Woensdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Donderdag", "Donderdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Vrijdag", "Vrijdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Zaterdag", "Zaterdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Zondag", "Zondag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
        </ul>
    </section>
    <section id="main">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </section>
    <footer></footer>
</body>
</html>

