<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - International Haarlem Film Festival</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/popupStyle.css")
    @Styles.Render("~/Content/ProgramButtons.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/JavaScript01.js")
    @Scripts.Render("~/Content/jsPopup.js")
    <script>
        
    </script>
    @RenderSection("JavaScript", required: false)    
</head>

<body>
    <header style="margin-top:0; padding-top:1px;">
        <div class="medewerkerlink">@Html.ActionLink("Medewerker","login","Medewerker", null, new { @class = "medewerkertext" }) </div>
            <div id="whishlistlink">Wishlist</div>
</header>
    <div id="wishlistbasket">
        <ul>
            <li></li>
        </ul>
    </div>
    <nav>
        <ul id="navigatie">
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Programma", "Woensdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Locaties", "Locaties", "Home", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Dineren", "Dineren", "Home", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Over ons", "Overons", "Home", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <section id="banner">
        <div>
            <img src="../../Images/haarlem4.png" />
        </div>
        <div>
            <img src="../../Images/haarlem1.jpg" />
        </div>
        <div>
            <img src="../../Images/haarlem2.jpg" />
        </div>
    </section>
    <section id="nav2">
        <ul id="navigatie2">
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Woensdag", "Woensdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Donderdag", "Donderdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Vrijdag", "Vrijdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Zaterdag", "Zaterdag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <p class="navtext">
                        @Html.ActionLink("Zondag", "Zondag", "Programma", null, new { @class = "navvtext" })
                    </p>
                </a>
            </li>
        </ul>
    </section>
    <section id="main">
        @RenderSection("featured", required: false)
        <section class="classs">
            @RenderBody()
        </section>
    </section>
    <footer></footer>
</body>
</html>

