@model IHFF_Websystem.Models.Diner
@{
    
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<hr />
@using (Html.BeginForm("AddDinerToWishlist", "Wishlist"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        @Html.LabelFor(m => m.dinerID)
        @Html.TextBoxFor(m => m.dinerID)

        @Html.LabelFor(m => m.prijs)
        @Html.TextBoxFor(m => m.prijs)

        @Html.LabelFor(m => m.startTijd)
        @Html.TextBoxFor(m => m.startTijd)

        @Html.LabelFor(m => m.eindTijd)
        @Html.TextBoxFor(m => m.eindTijd)

        @Html.LabelFor(m => m.foodFilm)
        @Html.TextBoxFor(m => m.foodFilm)

        @Html.LabelFor(m => m.locatieID)
        @Html.TextBoxFor(m => m.locatieID)

        @Html.LabelFor(m => m.wishlistID)
        @Html.TextBoxFor(m => m.wishlistID)


        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
