@using IHFF_Websystem.Models
@model List<IHFF_Websystem.Models.WishlistPopup>
@{
    ViewBag.Title = "Wishlist";
}

<h2>Wishlist</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <p> 
        Codeword: @Html.TextBox("codeword")
        <input type="submit" name="codeword" value="WishlistLaden" />         
    </p> 
}
@if (Model !=null)
{
<p>Film</p> 
foreach (var item in Model)
{
    if (item.eventType == events.film)
    { 
        <p>@Html.DisplayFor(modelItem => item.evenementNaam)</p>
        <p>@Html.DisplayFor(modelItem => item.startTijd)</p>
        <p>@Html.DisplayFor(modelItem => item.prijs)</p>
        <p>@Html.DisplayFor(modelItem => item.locatieNaam)</p>
        <p>@Html.ActionLink("Delete", "DeleteEvenement", "Wishlist",new {id = item.evenementID}, null) </p>
    }
}

<p>Diner</p>
foreach (var item in Model)
        {
            if (item.eventType == events.diner)
            { 
                    <p>@Html.DisplayFor(modelItem => item.opNaamVan)</p>
                    <p>@Html.DisplayFor(modelItem => item.startTijd)</p>
                    <p>@Html.DisplayFor(modelItem => item.prijs)</p>
                    <p>@Html.DisplayFor(modelItem => item.locatieNaam)</p>
                    <p>@Html.ActionLink("Delete", "DeleteDiner", "Wishlist", new { id = item.dinerID }, null)</p>
}
        }
    <p>
        @Html.ActionLink("Reserveren", "Reserveren", "Wishlist")
    </p>
}



