@model List<IHFF_Websystem.Models.ViewWishlist>
@{
    ViewBag.Title = "Wishlist";
}

<h2>Wishlist</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <p> 
        Codeword: @Html.TextBox("codeword")
        <input type="submit" name="codeword" value="WishlistLaden" />         
    </p> 
}
@if (Model !=null)
{
<p>Film</p> 
foreach (var item in Model)
{
    if (item.evenementID !=null)
    { 
        <p>@Html.DisplayFor(modelItem => item.name)</p>
        <p>@Html.DisplayFor(modelItem => item.starttijd)</p>
        <p>@Html.DisplayFor(modelItem => item.prijs)</p>
        <p>@Html.DisplayFor(modelItem => item.locatie)</p>
        <p>@Html.ActionLink("Delete", "DeleteEvenement", "Wishlist",new {id = item.evenementID}, null) </p>
    }
}

<p>diner</p>
foreach (var item in Model)
        {
            if (item.evenementID != null)
            { 
                    <p>@Html.DisplayFor(modelItem => item.name)</p>
                    <p>@Html.DisplayFor(modelItem => item.starttijd)</p>
                    <p>@Html.DisplayFor(modelItem => item.prijs)</p>
                    <p>@Html.DisplayFor(modelItem => item.locatie)</p>
                    <p>@Html.ActionLink("Delete", "DeleteDiner", "Wishlist", new { id = item.dinerID }, null)</p>
        }
}
    <p>
        @Html.ActionLink("Reserveren", "Reserveren", "Wishlist")
    </p>
}



