@{
    Layout = null;
}

@using IHFF_Websystem.Models
@model IEnumerable<WishlistPopup>

@foreach (WishlistPopup item in Model)
{
    if (item.eventType == events.film)
    {
        <div style="background-color:white; border:1px #797979 solid; color:black; margin:5px; font-family:Arial;">
            <div style="float:right; margin:5px;">
                <a href="#" onclick="wbAddAmount(@item.evenementID, @item.aantal, false)" class="amountButtons">+</a>
                <br />
                <a href="#" onclick="wbRemoveAmount(@item.evenementID, @item.aantal, false)" class="amountButtons">-</a>
            </div>
            <div style="float:right; margin:5px; padding-top:20px; font-size:18px; font-weight:bold;" class="wb-aantal">
                @item.aantal
            </div>

            <p style="margin: 5px 5px 5px 5px; padding: 0 0 0 0;">
                @String.Format("{0:dd-MM-yyyy}", item.startTijd)<br />
                @String.Format("{0:HH:mm}", item.startTijd)<br />
                <strong>@item.evenementNaam</strong><br />
                @item.locatieNaam
            </p>
            <div style="clear:right;"></div>

            <div style="float:right; margin:5px; font-size:18px; font-weight:bold;" class="wb-prijs">
                &euro; @String.Format("{0: 0.00}", item.prijs)
            </div>
            <div style="clear:right;"></div>
        </div>
    }
    else if (item.eventType == events.special)
    {
        <div style="background-color:white; border:1px #797979 solid; color:black; margin:5px; font-family:Arial;">
            <div style="float:right; margin:5px;">
                <a href="#" onclick="wbAddAmount(@item.evenementID, @item.aantal, false)" class="amountButtons">+</a>
                <br />
                <a href="#" onclick="wbRemoveAmount(@item.evenementID, @item.aantal, false)" class="amountButtons">-</a>
            </div>
            <div style="float:right; margin:5px; padding-top:20px; font-size:18px; font-weight:bold;" class="wb-aantal">
                @item.aantal
            </div>

            <p style="margin: 5px 5px 5px 5px; padding: 0 0 0 0;">
                @String.Format("{0:dd-MM-yyyy}", item.startTijd)<br />
                @String.Format("{0:HH:mm}", item.startTijd)<br />
                <strong>@item.evenementNaam</strong><br />
                @item.locatieNaam
            </p>
            <div style="clear:right;"></div>

            <div style="float:right; margin:5px; font-size:18px; font-weight:bold;" class="wb-prijs">
                &euro; @String.Format("{0: 0.00}", item.prijs)
            </div>
            <div style="clear:right;"></div>
        </div>
    }
    else if (item.eventType == events.diner)
    {
        <div style="background-color:white; border:1px #797979 solid; color:black; margin:5px; font-family:Arial;">
            <div style="float:right; margin:5px;">
                <a href="#" onclick="wbAddAmount(@item.dinerID, @item.aantal, true)" class="amountButtons">+</a>
                <br />
                <a href="#" onclick="wbRemoveAmount(@item.dinerID, @item.aantal, true)" class="amountButtons">-</a>
            </div>
            <div style="float:right; margin:5px; padding-top:20px; font-size:18px; font-weight:bold;" class="wb-aantal">
                @item.aantal
            </div>

            <p style="margin: 5px 5px 5px 5px; padding: 0 0 0 0;">
                @String.Format("{0:dd-MM-yyyy}", item.startTijd)<br />
                @String.Format("{0:HH:mm}", item.startTijd) - @String.Format("{0:HH:mm}", item.eindTijd)<br />
                <strong>@item.locatieNaam</strong><br />
                
            </p>
            <div style="clear:right;"></div>

            <div style="float:right; margin:5px; font-size:18px; font-weight:bold;" class="wb-prijs">
                &euro; @String.Format("{0: 0.00}", item.prijs)
            </div>
            <div style="clear:right;"></div>
        </div>
    }
}

