@{
    ViewBag.Title = "Dineren";
}

<h2>Dineren</h2>
<div id="left">
    <div id="lColumn">
        <h3>Stempels Brasserie</h3>
        <p>Making every dinner a true experience, that is what Restaurant Stempels is all about. The restaurant is located partly in the old courtyard of the former printing company Joh. Enschede, which nowadays is covered by a retractable glass roof, and partly in the adjecent old period rooms at the former home of the Enschede family.</p>

        <h3>De Ark</h3>
        <p>Sinds 1975 is Frank Huissen met z'n keukenbridage altijd bezig het iedereen naar de zin te maken. De Ark heeft een gezellige, ouderwetse bruincafe uitstraling en is met z'n drie verdiepingen een van de grootste restaurants in Haarlem. De Ark is ook zeer geschikt voor groepen en kinderen. </p>

        <h3>Dijkers</h3>
        <p>In het pittoreske hartje van Haarlem, te midden van een zichtbaar stukje geschiedenis van de Warmoesstraat, is DIJKERS eten & drinken gevestigd in twee monumentale panden, waaronder het befaamde Huis met de Knik.</p>
    </div>
    <div id="rColumn">
        <br><br><br>
        <img src="../../Images/twitter.png">
        <p>@Html.ActionLink("Reserveren", "DinerReserveren", new { id = 3 })</p>   
        <br><br><br><br>    
    </div>

    <div id="rColumn">        
        <img src="../../Images/twitter.png">
        <p>@Html.ActionLink("Reserveren", "DinerReserveren", new { id = 4 })</p>
    </div>

    <div id="rColumn">
        <br><br><br>
        <img src="../../Images/twitter.png">
        <p>@Html.ActionLink("Reserveren", "DinerReserveren", new { id = 1 })</p>
    </div>
</div>
<div>
    <div id="lColumn">
        <h3>De Uitkijk</h3>
        <p>Restaurant De Uitkijk is uniek gelegen op het Kopje van Bloemendaal, gegrensd aan het nationaal park Zuid-Kennemerland met een schitterend uitzicht over de duinen. De uitkijk is opgericht in 1924 onder de naam Chalet Klein en is sinds 1947 in handen van de familie peper.</p>
        <br>
        <h3>Ratatouille</h3>
        <p>Het succesvolle restaurant van chefkok Jozua Jaring  is - net als Ratatouille - een mix van de Franse keuken in de realiteit van vandaag met uitmuntende prijs-kwaliteitsverhouding in een laagdrempelige  omgeving. </p>
        <br>
        <h3>Terra</h3>
        <p>Restaurant Terra richt zich vooral op de Franse keuken. Provencaalse vissoep, escargots of een terrine van eendenlever, wie wordt daar nou niet blij van ? De mooie wijnkast geeft sfeer, iets wat alleen maar versterkt wordt door de oplettende en attente bediening.</p>
    </div>
    <div id="rColumn">
        <br><br><br>
        <img src="../../Images/twitter.png">
        <p>@Html.ActionLink("Reserveren", "DinerReserveren", new { id = 5 })</p>
        <br><br><br><br>
    </div>

    <div id="rColumn">
        <img src="../../Images/twitter.png">
        <p>@Html.ActionLink("Reserveren", "DinerReserveren", new { id = 6 })</p>
    </div>

    <div id="rColumn">
        <br><br><br>
        <img src="../../Images/twitter.png">
        <p>@Html.ActionLink("Reserveren", "DinerReserveren", new { id = 7 })</p>
    </div>
</div>
